.section-comments_container
{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
    gap: 60px;
    @extend %comments-columns;

    .section-comments_card
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img 
        {
            border-radius: 50%;
            width: 100px;
        }

        p 
        {
            font-family: Barlow;
            font-size: 18px;
            text-align: center;
            color: $darkGrayishBlue;
            font-weight: 800;
            line-height: 1.5;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        h3 
        {
            font-family: Fraunces;
            font-size: 18px;
            color: $veryDarkDesaturatedBlue;
            margin-bottom: 10px;
        }

        h4 
        {
            font-family: Barlow;
            font-size: 14px;
            color: $grayishBlue;
        }
    }
}