// Header
.header
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %header-size;
    @extend %header-menu;

    img
    {
        margin-left: 5%;
    }

    .header_burger-button
    {
        margin-right: 10%;

        img
        {
            width: 20px;
        }
    }
}

